# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/

# Env files
.env

# Redis & Celery
celerybeat-schedule
*.log
*.pid

# VSCode
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db
Desktop.ini

#database
init_db.py
